<%- include('partials/header') %>

<div class="about">
    <h1>ABOUT PROJECT</h1>
    <p>The Internet-of-Things (IoT) is a vision for an inter-network of intelligent, communicating objects such as home appliances, vehicles, factory machines, wearable devices and various types of sensors.
    Smart home is a section of the IoT paradigm that aims to integrate home automation and security.
    <br>
    The availability of affordable smartphones, micro-controllers and other open-source hardware along with the increasing use of cloud services, has made it possible to develop low-cost smart home security systems. With families having busier lives than ever, smart home automation and security systems can also cater to household members with limited mobility such as the handicapped and the old.
    </p>
</div>


<%- include('partials/footer') %>