<%- include('partials/header') %>
        
        <div class="content">
            <div class="box1">
                <h1>View DOORLOGS</h1>
                <a href="/info" class="link1"><button class="btn1">Click Here</button></a>
            </div>
            <div class="box2">
                <h1>About Project</h1>
                <a href="/about"><button class="btn2">Click Here</button></a>
            </div>
        </div>
    

<%- include('partials/footer') %>