@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: url("iot-2.png") no-repeat;
	background-size: cover;
	height: 100vh;
	width: auto;
}

/* NAVBAR STYLING */
.navbar {
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.308);
	position: absolute;
	top: 0;
	font-family: 'Poppins', sans-serif;
	font-style: italic;
}

.navbar a {
	text-decoration: none;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	padding: 0 0.5rem;
	color: #fa8713;
	background-color: rgba(0, 0, 0, 0.404);
	transition: ease-out 0.3s all;
}

.navbar a:hover {
	background-color: rgba(0, 0, 0, 0.664);
	border-left: 2px solid #fa9f42;
	border-right: 2px solid #fa9f42;
	letter-spacing: 2px;
}
.navbar a:active {
	background-color: rgba(0, 0, 0, 0.664);
	border-left: 2px solid #fa9f42;
	border-right: 2px solid #fa9f42;
	letter-spacing: 2px;
}

/* HOME PAGE */
/* CONTENT STYLING */
.content {
	margin-top: 12vh;
	margin-left: 10%;
	height: 80vh;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.box1,
.box2 {
	padding: 1rem;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.301);
	color: beige;
	font-size: 0.8rem;
}

/* BUTTON Styling */
.btn1,
.btn2 {
	margin-top: 1rem;
	border: 1px solid #fa8713;
	background: black;
	color: #fa8713;
	font-weight: 200;
	font-size: 1rem;
	padding: 15px;
	text-transform: uppercase;
	border-radius: 12px;
	display: inline-block;
	transition: all 0.3s ease 0s;
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
	letter-spacing: 2px;
	box-shadow: 0 4px #b3600e;
	position: relative;
}

.btn1:active,
.btn2:active {
	box-shadow: none;
	top: 4px;
	transition: all 0.3s ease 0s;
}

.btn1:hover,
.btn2:hover {
	box-shadow: 0 2px #b3600e;
	top: 2px;
	transition: all 0.3s ease 0s;
}

/* ABOUT PAGE */
.about {
	border: 2px solid bisque;
	text-align: center;
	margin-top: 20vh;
	margin-left: 5%;
	width: 90%;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.808);
	color: blanchedalmond;
	font-family: 'Nunito', sans-serif;
}

.about h1 {
	padding: 1rem;
	font-weight: 600;
}

.about p {
	padding: 1rem;
	color: dodgerblue;
}

/* For 720px plus Devices */
@media only screen and (min-width: 720px) {
	body {
		background: url("iot-1.jpg") no-repeat;
		/* background-position: center; */
		background-size: cover;
		height: 100vh;
		width: auto;
	}
	/* NAVBAR STYLING */
	.navbar {
		height: 10vh;
		width: 100%;
		display: flex;
		justify-content: center;
		background-color: rgba(0, 0, 0, 0.308);
		position: fixed;
		top: 0;
		font-family: 'Poppins', sans-serif;
		font-style: italic;
	}

	.navbar a {
		text-decoration: none;
		font-size: 2rem;
		display: flex;
		align-items: center;
		padding: 0 1rem;
		color: #fa8713;
		background-color: rgba(0, 0, 0, 0.404);
		transition: ease-out 0.3s all;
	}

	.navbar a:hover {
		background-color: rgba(0, 0, 0, 0.664);
		border-left: 2px solid #fa9f42;
		border-right: 2px solid #fa9f42;
		letter-spacing: 2px;
	}

	/* HOME PAGE */
	/* CONTENT STYLING */
	.content {
		margin-top: 25vh;
		margin-left: 25%;
		height: 50vh;
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
		font-family: 'Poppins', sans-serif;
	}

	.box1,
	.box2 {
		padding: 1rem;
		border-radius: 6px;
		background-color: rgba(0, 0, 0, 0.301);
		color: beige;
	}

	/* BUTTON Styling */
	.btn1,
	.btn2 {
		font-size: 1.2rem;
		margin-top: 0.5rem;
		border: 1px solid #fa8713;
		background: black;
		color: #fa8713;
		/* color: #74d1ed; */
		font-weight: 100;
		padding: 10px;
		text-transform: uppercase;
		border-radius: 6px;
		display: inline-block;
		transition: all 0.3s ease 0s;
		font-family: 'Raleway', sans-serif;
		cursor: pointer;
		box-shadow: 0 4px #b3600e;
	}

	.btn1:hover,
	.btn2:hover {
		color: #fa8713 !important;
		font-weight: 700 !important;
		letter-spacing: 3px;
		transition: all 0.3s ease 0s;
		box-shadow: 0 2px #b3600e;
		top: 2px;
	}

	.btn1:active,
	.btn2:active {
		transition: all 0.3s ease 0s;
		box-shadow: none;
		top: 4px;
	}

	/* ABOUT PAGE */
	.about {
		border: 2px solid bisque;
		text-align: center;
		margin-top: 25vh;
		margin-left: 15vw;
		width: 70%;
		height: 50vh;
		border-radius: 10px;
		background-color: rgba(0, 0, 0, 0.808);
		color: blanchedalmond;
		font-family: 'Nunito', sans-serif;
	}

	.about h1 {
		padding: 1rem;
		font-weight: 600;
	}

	.about p {
		padding: 1.5rem;
		color: dodgerblue;
	}
}
